@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap');

.text-bold {
    font-weight: bold;
}
.font-google {
    font-family: 'Merriweather', serif;
}

.row {
    display: flex
    
}
.column {
    display: flex;
    flex-direction: column;
}

.column-center {
    align-self: center
}

.row-right {
    justify-content: flex-end
}

.col-9 {
    flex-grow: 9;
}
.col-10 {
    flex-grow: 10;
}
.col-1 {
    flex-grow: 1;
}
.col-2 {
    flex-grow: 2;
}

.altura {
    min-height: 60vh
}

.btn-left {
    text-align: left !important
}
.btn-float {
    margin-bottom: 80px;
    margin-right: 16px;
}
.card-mensagem {
    margin-bottom: calc(23px + 20px);
    position: absolute;
    bottom: calc(23px + 20px);
    z-index: 9999;
    left: 0;
    
}

.text-maximum {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 280px;
}